<h1 style="text-align:center"> Mobile</h1>
<div class="container">
    <input class="form-control me-4 ng-valid ng-dirty ng-valid-parse ng-empty ng-touched" type="search"
        placeholder="Search" aria-label="Search" ng-model="search">

    <div class="card-columns mt-5" ng-controller="mobilectrl"  ng-model="item">

        <div ng-repeat="mobile in mobile|filter:search">

            <div class="card" style="width: 250px ;height: 400px;">

                <img class="card-img-top img-fluid" style="max-height: 50%;min-height:50% "
                    ng-src="{{mobile.image_url}}" alt="{{mobile.name}}">

                <div class="card-body">

                    <h4 class="card-title">{{mobile.name}}</h4>

                    <p class="card-text" style="margin-bottom:25%">
                    <h5>{{mobile.price}}</h5>
                    <a href="#!buy" class="btn btn-primary" ng-click="getdetails('item')">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'footer.html'">
</div>